@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/* GENERAL */

.App { text-align: center; }
.main-body { background-color: #252525; }
* { box-sizing: border-box; }
div { display: flex; flex-wrap: wrap; }

/* HEADER */

.play-icon {
  float: left;
}

.card-group {
  justify-content: center;
}

.header {
    background-color: #252525;
    display: flex;
    justify-content: space-between;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: white
}

.title {
  display: inline-flex;
  align-items: center;
}

.title-text {
  font-family: monospace;
  padding-left: 5px;
  font-size: 20px;
}

.search {
    background-color: transparent;
    border: 1px solid #e9e9ec;
    border-radius: 50px;
    color: #fff;
    font-family: monospace;
    font-size: 12px;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 10px #555555;
}

.search::placeholder {
    color: #fff;
}

.search:focus {
    background-color: #050505;
    outline: none;
}

/* MOVIE CARDS */

.movie {
    border-radius: 20px;
    outline:none;
    border-color:#555555;
    box-shadow:0 0 10px #555555;
    overflow: hidden;
    position: relative;
    margin: 1rem;
    justify-content: center;
    align-content: center;
    width: 265px;
}

.movie img {
    width: 100%;
    top: 0px;
}

.rating empty-icons {
  padding-left: 0px;
}

.card-body {
  margin-top: 10px;
  margin-bottom: 5px;
}
