@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

:root {
  --background: #252525;
  --border: #555555;
  --highlight: #888888;

}

/* GENERAL */

.App { 
  text-align: center; 
}
.main-body {
  background-color: var(--background); 
  padding-left: 3rem;
  padding-right: 3rem;
}
* { 
  box-sizing: border-box; 
}
div { 
  display: flex; 
  flex-wrap: wrap; 
}

/* HEADER */

.icon {
  float: left;
  background-color: var(--background) !important;
  border: none !important;
  color: white;
}

.card-group {
  justify-content: center;
}

.header {
  background-color: var(--background);
  display: flex;
  justify-content: space-between !important;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
  color: white
}

.title {
  display: inline-flex;
  align-items: center;
}

.title-text {
  font-family: 'Rubik', sans-serif;
  padding-left: 10px;
  font-size: 35px;
  color: white !important;
}

.search {
  display: flex;
  align-items: center;
}

.search-bar {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50px;
  color: white;
  font-family: monospace;
  font-size: 12px;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 10px var(border);
}

/* MOVIES */

.card-group {
  margin-left: 2rem;
  margin-right: 2rem;
}

.month-header {
  display: flex;
  align-items: center;
  color: white;
  padding-left: 40rem;
  padding-right: 8rem;
  letter-spacing: 20px;
  margin-left: auto;
  text-transform: uppercase;
}

.arrow {
  padding-right: 15px;
}

.movie {
  border-radius: 20px !important;
  border: none !important;
  background-color: var(--background) !important;
  outline: none;
  border-color: var(--border) !important;
  box-shadow: 0 0 10px var(--border);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  justify-content: center;
  align-content: center;
  width: 265px;
}

.movie:hover {
  box-shadow: 0 0 20px var(--highlight);
}

.movie img {
  width: 100%;
  top: 0px;
}

.rating empty-icons {
  padding-left: 0px;
}

.card-body {
  margin-top: 10px;
  margin-bottom: 5px;
}

/* MOVIE MODAL */

.modal-content {
  background-color: var(--background) !important;
}

.modal-header {
  border-bottom: none !important;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.modal-header .btn-close {
  color: white !important;
}

.modal-header .close {
  color: #fff; 
  opacity: 1;
}

.modal-footer{
  border-top: none !important;
}
